@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/nav.css);
@import url(../blocks/recipes.css);
@import url(../blocks/reservation.css);
@import url(../blocks/menu.css);
@import url(../blocks/card.css);
@import url(../blocks/about.css);
@import url(../blocks/footer.css);

.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.inter-uniquifier {
  font-family: "Inter", Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.noto-serif-uniquifier {
  font-family: "Noto Serif", Times New Roman, serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  font-variation-settings: width 100;
  }

 .footer {
  }

  #contacts {
  }